﻿﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--SEO Meta-->
    <meta name="keywords" content="long horn driving school, driving school plano, driving school texas, driving school in plano texas 75023, asian muslim driving school, bangla driving school, american driving school, safe and reliable driving school, driving school near me, ideal driving school, ideal driving school plano, ideal driving school texas, driving instructors plano, driving classes plano, learn to drive texas, driving instructors texas, driving classes texas, defensive driving texas, driving school of north texas, adults driving, all star driving school, road to success driving school, safeway driving, online drivers ed texas fee, best online drivers ed texas, asain driving school, muslim driving school, american driving School, afforadble driving school, driving school prices,  student driving school, nearest driving school, how to learn about cars, how to learn about drive, driving center near me, driving school around me, how to drive a car for beginners, driving for beginners, cost of driving lessons, driving tutorial">
    <meta name="description" content="lhdrivingschool.com offers driving courses where students learn to drive safely with confidence and precision. We have highly qualified certified Professional Instructors.">
    <meta name="author" content="Simplexhub">

    <!-- Devices Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href=@Url.Content("/Content/assets/images/logo/logo.ico") />
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,100,300,500,700%7CLato:400,300,700,900&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css' />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144508744-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-144508744-1');
    </script>
    
    <!-- Plugins CSS files -->
    <link href=@Url.Content("/Content/assets/css/assets.css") rel="stylesheet" />

    <!-- Date & Time Picker -->
    <link href=@Url.Content("/Content/assets/css/timepicki.css") rel="stylesheet" />
    <link href=@Url.Content("/Content/assets/css/jquery.timepicker.min.css") rel="stylesheet" />

    <!-- Template CSS files -->
    <link href=@Url.Content("/Content/themes/base/jquery-ui.css") rel="stylesheet" />
    <link rel="stylesheet" href=@Url.Content("/Content/assets/css/style.css") />
    <link rel="stylesheet" href=@Url.Content("/Content/assets/css/shortcodes.css") />
    <link id="theme_css" rel="stylesheet" href=@Url.Content("/Content/assets/css/light.css") />
    <link id="skin_css" rel="stylesheet" href=@Url.Content("/Content/assets/css/default.css") />
    <link rel="stylesheet" href=@Url.Content("/Content/assets/css/responsive-slider.css") />
    <style type="text/css">
        .clients-grid > div {
            text-align: center;
            max-height: none;
            min-height: 136px;
            background-color: #fff;
            margin: 5px;
        }
    </style>
</head>
<body>
    <!-- site preloader start -->
    <div class="page-loader"></div>
    <!-- site preloader end -->

    <div class="pageWrapper">
        <!-- Header start -->
        <div class="top-bar gry-bg">
            <div class="container">
                <ul class="top-info f-left">
                    <li><i class="fa fa-envelope main-color"></i><b class="main-color">Email:</b> <a href="mailto:info@lhdrivingschool.com">info@lhdrivingschool.com</a></li>
                    <li><i class="fa fa-phone main-color"></i><b class="main-color">Phone: </b>972 372 4120</li>
                </ul>
            </div>
        </div>

        <div>
            <header class="top-head minimal no-border">
                <div class="container">
                    <!-- Logo start -->
                    <div class="logo">
                        <a href="@Url.Content("~/")"><img alt="" src=@Url.Content("/Content/assets/images/logo/logo.png") /></a>
                    </div>
                    <div class="title">
                        <a href="@Url.Content("~/")">
                            <h1><span style="color: #B70D03;">LONG</span> <span style="color: #003375;">HORN</span> DRIVING SCHOOL</h1>
                            <h4 style="color: #0067CB;">Your Friendly, Expert Driving School</h4>
                        </a>
                    </div> <!-- Logo end -->

                    <div class="responsive-nav">
                        <!-- top navigation menu start -->
                        <nav class="top-nav">
                            <ul>
                                <li class="homenav selected"><a href="@Url.Content("~/")"><span><i class="fa fa-home fa-2x"></i></span></a></li>
                                <li><a href="contactus"><span><i class="fa fa-map-marker fa-2x"></i>Contact Us</span></a>
                                <li>
                                    <a href="#"><span><i class="fa fa-car fa-2x"></i>Services</span></a>
                                    <ul>
                                        <li><a href="services"><i class="fa fa-graduation-cap fa-2x"></i>In Car Training</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><span><i class="fa fa-paper-plane fa-2x"></i>DPS Impact Cources</span></a>
                                    <ul>
                                        <li><a href="https://www.dps.texas.gov/administration/driver_licensing_control/rolodex/search.asp" target="DPS"><i class="fa fa-paperclip fa-2x"></i>DPS</a></li>
                                        <li><a href="https://impacttexasdrivers.dps.texas.gov/" target="_ITD"><i class="fa fa-paperclip fa-2x"></i>ITD</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav> <!-- top navigation menu end -->
                    </div>
                </div>
            </header>

            <div>
                @RenderBody();
            </div>

        <div id="contact-section">
            <div class="sm-padding pattern-line-1 main-bg">
                <div class="container">
                    <div class="cta_btn">
                        <div class="f-left">
                            <h2 class="cta_heading uppercase white">STUDENT Free Pick-Up and Return for the Following Cities:</h2>
                            <h4 class="cta_heading white" style="letter-spacing: normal;">Collin county- Plano, Dallas County- Irving.</h4>
                        </div>
                        <a class="btn btn-xl btn-outlined btn-white f-right" href="ContactUs">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Footer start -->
        <footer id="footWrapper" style="margin-top: -21px;">

            <!-- footer top bar start -->
            <!-- footer top bar start -->
            <!-- footer widgets start -->
            <div class="footer-middle">
                <div class="container">
                    <div class="row">

                        <div class="col-md-3 first">

                            <h3>Contact Us</h3>
                            <div class="social-list half-icons">
                                <a href="contactus"><i class="fa fa-tty ic-contact ic-colored sm-icon sm-icon"></i><span>Contact</span></a>
                                <a href="contactus#appointment"><i class="fa fa-calendar ic-contact ic-colored sm-icon sm-icon"></i><span>Appointment</span></a>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <h3>Services</h3>
                            <div class="recent-posts-footer">
                                <ul>
                                    <li><a href="services">In Car Training</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-3 last contact-widget">
                            <h3>Locate Us</h3>
                            <ul class="details">
                                <li><i class="fa fa-map-marker" style="padding-top: 3px; vertical-align: top;"></i><span>Long Horn Driving School,<br> 6400 Independence Pkwy,<br> Plano, Texas 75023</span></li>
                                <li><i class="fa fa-envelope"></i><span>Enquiries: <a href="mailto:info@lhdrivingschool.com">info@lhdrivingschool.com</a></span></li>

                                <li><i class="fa fa-phone"></i><span>Phone: 972 372 4120</span></li>
                                <li><i class="fa fa-clock-o" style="padding-top: 3px; vertical-align: top;"></i><span>Operating Hours: <br> 9:00 AM to 6:00 PM / 7 Days</span></li>
                            </ul>
                        </div>

                        <div class="col-md-3">
                            <h3>Route Map</h3>
                            <div class="recent-posts-footer">
                                <a href="contactus#maps_lhds">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5623.729470837604!2d-96.75374115331392!3d33.05937455030672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c180a2261e6f7%3A0x2d02e9942e5f462f!2s6400+Independence+Pkwy%2C+Plano%2C+TX+75023%2C+USA!5e0!3m2!1sen!2sbd!4v1555298379708!5m2!1sen!2sbd" width="263" height="165" frameborder="0" style="" allowfullscreen></iframe>

                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- footer widgets start -->
            <!-- footer bottom bar start -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <!-- footer copyrights left cell -->
                        <div class="copyrights">© Copyrights <a href="Index"><b class="main-color">Long Horn Driving School</b></a>. All rights reserved.</div>
                        <div class="web-solution">Web Solution by <a href="http://www.simplexhub.com/" target="_Simplexhub"><b class="main-color">Simplexhub</b></a></div>
                    </div>
                </div>
            </div> <!-- footer bottom bar end -->

        </footer><!-- Footer end -->

    </div>

    <!-- Back to top Link -->
    <a id="to-top" href="#"><span class="fa fa fa-angle-up"></span></a>

    <!-- Load JS plugins -->

    <script src=@Url.Content("/Content/assets/js/jquery-1.12.4.js")></script>
    <script src=@Url.Content("/Content/assets/js/jquery-ui.js")></script>

    <script src=@Url.Content("/Content/assets/js/jquery.timepicker.min.js")></script>

    <script type="text/javascript" src=@Url.Content("/Content/assets/js/assets.js")></script>
    <script src=@Url.Content("/Content/assets/js/responsive-slider.js")></script>
    <script src=@Url.Content("/Content/assets/js/jquery.event.move.js")></script>
    <!-- general script file -->
    <script type="text/javascript" src=@Url.Content("/Content/assets/js/script.js")></script>

    <script>
        $(function () {
            $("#datepicker").datepicker({
                //dateFormat: "dd/mm/yy",
                dateFormat: "dd MM yy",

            });
        });

        $(function () {
            $('#timepicker').timepicker({
                timeFormat: 'hh:mm p',
                interval: 60,
                minTime: '10:00am',
                maxTime: '4:00pm',
                startTime: '9:00',
                dynamic: false,
                dropdown: true,
            });
        });
    </script>
</body>
</html>
